input.error {
background: url(../img/error-input.png) no-repeat right center #ffffff !important;
border: 1px solid #ff0000 !important;
}
input.valid {
background: url(../img/tick-input.png) no-repeat right center #ffffff !important;
border: 1px solid #93DC69 !important;
}
select.valid {
background: url(../img/tick-input.png) no-repeat right center #ffffff !important;
border: 1px solid #93DC69 !important;
}
select.error {
background: url(../img/error-input.png) no-repeat right center #ffffff !important;
border: 1px solid #ff0000 !important;
}
  #LoadingDiv{
  margin:0px 0px 0px 0px;
  position:fixed;
  height: 100%;
  z-index:9999;
  padding-top:350px;
  width:100%;
  clear:none;
  background:url(../img/trans.png);
  text-align:center;
  color:#FFF;
  font-weight:normal;
  font-size:16px;
  font-family:Trebuchet MS, Arial, Helvetica, sans-serif;
  line-height: 30px;
  }
/*IE will need an 'adjustment'*/
* html #LoadingDiv{
     position: absolute;
     height: expression(document.body.scrollHeight &gt; document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
  }
img.displayed {
  display:block;
  margin-left:auto;
  margin-right:auto;
  }



#popup {
	position: relative;
	width: 700px;
	height: 450px;
	margin: 0 auto;
	/*background: url(../img/popup-bg.png) no-repeat;*/
}

#popup .price {
	position: absolute;
	right: 0;
	top: 137px;
	width: 525px;
	height: 266px;
	background: url(../img/popup-price2.png) no-repeat right top;	
	z-index:999;
}
#popup_overlay {
position: fixed;
left: 0;
top: 0;
width: 100%;
height: 100%;
background-color: #000;
opacity:0.85;
z-index: 9999;
}
#popup {
	  position: fixed;
  left: 43%;
  top: 50%;
  margin-left: -350px;
  margin-top: -305px;
  z-index: 9999;
}

#popup1 {
	  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -350px;
  margin-top: -205px;
  z-index: 9999;
}

